# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# Large dataset
data/PhiUSIIL_Phishing_URL_Dataset.csv